* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.contenedor {
    background: #ccc;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
body{
    background: #e9e9e9;
}
header {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
header .logo {
    color: #fff;
    font-size: 30px;
}
header .logo img {
    width: 150px;
    vertical-align: top;
}
header nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header nav a {
    background: #EC2928;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    flex-grow: 1;
    text-transform: uppercase;
}
header nav a:hover {
    background: rgb(240, 74, 74);
}
.main {
    background: #fff;
    padding: 20px;
    flex: 1 1 70%;
}
.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}
.main article .tecnologias{
    
}
.main article .tecnologias img{
    max-width: 80px;
}
.main article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.contactoUno {
    background: #fff;
    padding: 20px;
    flex: 1 1 50%;
}
.contactoUno article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}
.contactoUno article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.titulo {
    margin: 5px 0;
}
.lista{
    list-style: none;
}
.negrita{
    font-weight: bold;
}
iframe {
    width: 100%;
    border: 0;
}
aside {
    background: #EC2928;
    padding: 20px;
    flex: 1 1 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}
aside .widgetUno {
    background-image: url('/assets/img/valencia.jpg');
    height: 150px;
    margin: 10px;
}
aside .widgetDos {
    background-image: url('/assets/img/madrid.jpg');
    height: 150px;
    margin: 10px;
}

.contactoDos {
    background: white;
    padding: 20px;
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}
.contactoDos .mapa iframe{
    display: flex;
    align-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
footer {
    background: #2c3e50;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .links {
    background: #EC2928;
    display: flex;
    flex-wrap: wrap;
}
footer .links a {
    flex-grow: 1;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
footer .links a:hover {
    background: rgb(240, 74, 74);
}
footer .social {
    display: flex;
}
footer .social img {
    display: flex;
    padding: 5px;
    width: 40px;
}
footer .social a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0;
    }

    header .logo {
        margin: 20px 0;
    }
    header nav {
        width: 100%;
    }

    aside {
        flex-direction: row;
        flex: 0;
    }
    aside .widgetUno {
        flex-grow: 1;
    }
    aside .widgetDos {
        flex-grow: 1;
    }
    .contactoDos .mapa iframe{
        min-height: 350px;
    }
}
@media screen and (max-width: 600px) {
    aside {
        flex-direction: column;
    }
    header .logo img{
        max-width: 150px;
    }
    .contactoDos .mapa iframe{
        min-height: 200px;
    }
    aside .widgetUno {
        flex-grow: 1;
    }
    aside .widgetDos {
        flex-grow: 1;
    }
    footer {
        justify-content: space-around;
    }
}